<div class="jumbotron">
<div class = "container-fluid">
      
      <div class="container col-xs-12 col-sm-6" style="margin-bottom: 20px;">
      <div class="cd o1 center-block">
        <img class="img-responsive" src="./img/pl.jpg" alt="Avatar" style="width: 100%;" class="image"><br>
        <p><b>EPL 2015/16</b></p>
        <div class="overlay">
          <div class="text" id="openTemp1"><a href="#/epl/15" style="color: white;"><h2><b>EPL 2015</b></h2></a></div>
        </div>
      </div>
      </div>
      

      
     <div class="container col-xs-12 col-sm-6">
     <div class="cd o2 center-block">
        <img class="img-responsive" src="./img/pl.jpg" alt="Avatar" style="width: 100%;" class="image"><br>
        <p><b>EPL 2016/17</b></p>
        <div class="overlay2">
          <div class="text2" id="openTemp2"><a href="#/epl/16" style="color: white;"><h2><b>EPL 2016</b></h2></a></div>
        </div>
      </div>
      </div>
      
      
</div>
</div>