<div class="container" ng-init= "myMatch.loadSingleMatch()">

<div class="card" id="crd" style="min-height: 400px;">
  <div class="con">
    <h1><b>{{myMatch.matchDay}}</b></h1> 
    <p><h4>Date : {{myMatch.date}}</h4></p> 
    <br><br><br><br>
    <div>
    <div class="col-xs-12 col-sm-5">
    <p><h2><b>{{myMatch.name}}</b></h2></p><br><br>
    <p><h4><b>Score : {{myMatch.score1}}</b></h4></p>
    </div>
    <div class="col-xs-12 col-sm-2">
      <img id="im" src="img/football.svg" class="img-responsive center-block">
    </div>
    <div class="col-xs-12 col-sm-5">
    <p><h2><b>{{myMatch.name2}}</b></h2></p><br><br>
    <p><h4><b>Score : {{myMatch.score2}}</b></h4></p>
    </div>
    </div>
  </div>
</div>

  

</div>