<div class="container ccd" style="text-align: center;">
<br><br><br>
<!--display list of teams in 2015/2016 session-->
<a href="#/teamStats/Arsenal/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Arsenal
</div>
</a>

<a href="#/teamStats/Aston Villa/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Aston Villa
</div>
</a>

<a href="#/teamStats/Bournemouth/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Bournemouth
</div>
</a>

<a href="#/teamStats/Chelsea/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Chelsea
</div>
</a>

<a href="#/teamStats/Crystal Palace/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Crystal Palace
</div>
</a>

<a href="#/teamStats/Everton/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Everton
</div>
</a>

<a href="#/teamStats/Leicester City/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Leicester City
</div>
</a>

<a href="#/teamStats/Liverpool/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Liverpool
</div>
</a>

<a href="#/teamStats/Manchester City/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Manchester City
</div>
</a>

<a href="#/teamStats/Manchester United/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Manchester United
</div>
</a>

<a href="#/teamStats/Newcastle United/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Newcastle United
</div>
</a>

<a href="#/teamStats/Norwich/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Norwich
</div>
</a>

<a href="#/teamStats/Southampton/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Southampton
</div>
</a>

<a href="#/teamStats/Stoke City/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Stoke City
</div>
</a>

<a href="#/teamStats/Sunderland/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Sunderland
</div>
</a>

<a href="#/teamStats/Swansea/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Swansea
</div>
</a>

<a href="#/teamStats/Tottenham Hotspur/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Tottenham Hotspur
</div>
</a>

<a href="#/teamStats/Watford/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Watford
</div>
</a>

<a href="#/teamStats/West Bromwich Albion/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  West Bromwich Albion
</div>
</a>

<a href="#/teamStats/West Ham United/15">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  West Ham United
</div>
</a>

  

</div>