<div class="container ccd" ng-init= "myMatch.loadSingleMatch()" style="text-align: center;">
<br><br><br>
<!--display list of teams in 2016/2017 session-->
<a href="#/teamStats/Arsenal/16">
<div class="chip" ng-href="#/teamStats/Arsenal">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Arsenal
</div>
</a>

<a href="#/teamStats/Hull City/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Hull City
</div>
</a>

<a href="#/teamStats/Bournemouth/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Bournemouth
</div>
</a>

<a href="#/teamStats/Chelsea/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Chelsea
</div>
</a>

<a href="#/teamStats/Crystal Palace/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Crystal Palace
</div>
</a>

<a href="#/teamStats/Everton/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Everton
</div>
</a>

<a href="#/teamStats/Leicester City/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Leicester City
</div>
</a>

<a href="#/teamStats/Liverpool/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Liverpool
</div>
</a>

<a href="#/teamStats/Manchester City/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Manchester City
</div>
</a>

<a href="#/teamStats/Manchester United/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Manchester United
</div>
</a>

<a href="#/teamStats/Middlesbrough/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Middlesbrough
</div>
</a>

<a href="#/teamStats/Burnley/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Burnley
</div>
</a>

<a href="#/teamStats/Southampton/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Southampton
</div>
</a>

<a href="#/teamStats/Stoke City/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Stoke City
</div>
</a>

<a href="#/teamStats/Sunderland/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Sunderland
</div>
</a>

<a href="#/teamStats/Swansea/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Swansea
</div>
</a>

<a href="#/teamStats/Tottenham Hotspur/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Tottenham Hotspur
</div>
</a>

<a href="#/teamStats/Watford/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  Watford
</div>
</a>

<a href="#/teamStats/West Bromwich Albion/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  West Bromwich Albion
</div>
</a>

<a href="#/teamStats/West Ham United/16">
<div class="chip">
  <img src="img/football.svg" alt="Person" width="96" height="96">
  West Ham United
</div>
</a>

  

</div>