<div class="container" ng-init="myMatch.loadTeamStats()">
 <div class="card" id="crd">
  <div class="con" style="padding-bottom: 10%">
    <h1><b>{{myMatch.teamname}}</b></h1><br><br>
    <p><h3>Total Matches Played : {{myMatch.matchCount}}</h3></p>
    <p><h3>Total Matches Won : {{myMatch.totalWon}}</h3></p>
    <p><h3>Total Matches Lost : {{myMatch.totalLoss}}</h3></p>
    <p><h3>Total Matches Draw : {{myMatch.totalDraw}}</h3></p>
    <p><h3>Total Goals Scored : {{myMatch.totalGoals}}</h3></p>
    </div>
  </div>
</div>
  </div>